<div class='int_country'>
  <%= link_to 'Austria', calendar_international_path(date: @date, :country_code => 'aut') %>
  <%= link_to 'Belgium', calendar_international_path(date: @date, :country_code => 'bel') %>
  <%= link_to 'China', calendar_international_path(date: @date, :country_code => 'chn') %>
  <%= link_to 'Croatia', calendar_international_path(date: @date, :country_code => 'hrv') %>
  <%= link_to 'Czech Republic', calendar_international_path(date: @date, :country_code => 'cze') %>
  <%= link_to 'Denmark', calendar_international_path(date: @date, :country_code => 'dnk') %>
  <%= link_to 'England', calendar_international_path(date: @date, :country_code => 'eng') %>
  <%= link_to 'Estonia', calendar_international_path(date: @date, :country_code => 'est') %>
  <%= link_to 'Finland', calendar_international_path(date: @date, :country_code => 'fin') %>
  <%= link_to 'Hong Kong', calendar_international_path(date: @date, :country_code => 'hkg') %>
  <%= link_to 'Hungary', calendar_international_path(date: @date, :country_code => 'hun') %>
  <%= link_to 'Ireland', calendar_international_path(date: @date, :country_code => 'irl') %>
  <%= link_to 'Italy', calendar_international_path(date: @date, :country_code => 'ita') %>
  <%= link_to 'Japan', calendar_international_path(date: @date, :country_code => 'jpn') %>
  <%= link_to 'Norway', calendar_international_path(date: @date, :country_code => 'nor') %>
  <%= link_to 'Poland', calendar_international_path(date: @date, :country_code => 'pol') %>
  <%= link_to 'Portugal', calendar_international_path(date: @date, :country_code => 'prt') %>
  <%= link_to 'Russia', calendar_international_path(date: @date, :country_code => 'rus') %>
  <%= link_to 'South Africa', calendar_international_path(date: @date, :country_code => 'zaf') %>
  <%= link_to 'South Korea', calendar_international_path(date: @date, :country_code => 'rok') %>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="arrows">

      <%= link_to calendar_international_path(date: @date - 12.month, country_code: @country_code ) do %>
        <i><%=image_tag('http://i.imgur.com/9GN8wMm.png?1')%></i>
      <% end %>

      <%= link_to calendar_international_path(date: @date - 1.month, country_code: @country_code) do %>
        <i><%= image_tag("http://i.imgur.com/ca2RSq3.png?1")%></i>
      <% end %>

      <span id='current_calendar_date'><%= "#{@date.strftime("%B")} #{@date.year}" %></span>

      <%= link_to calendar_international_path(date: @date + 1.month, country_code: @country_code) do %>
        <i ><%= image_tag('http://i.imgur.com/obLPimz.png?1')%></i>
      <% end %>

      <%= link_to calendar_international_path(date: @date + 12.month, country_code: @country_code) do %>
        <i><%= image_tag('http://i.imgur.com/ErCSqCA.png?1')%></i>
      <% end %>
    </div>
  </div>
</div>