<h1><%= @user.username %>'s Details</h1>

<%= image_tag(@user.image, id: 'user_img') %>
<div class='user_info'>
  <p>Name : <%= @user.username %></p>
  <p>Email : <%= @user.email %></p>
  <p>Date of Birth : <%= @user.dob %></p>
  <div class='show_options'>
    <%= link_to('Edit Your Details', edit_user_path(@user) )%>
    <%= link_to('Manage Your Events', events_lists_path)%>
  </div>
</div>


