
<h1>Events for <%= params[:kind] %></h1>
  <% @events.each do |event| %>
<p><%= image_tag(event.image)%> <%= event.name%>
  (<%= link_to(event.date, events_path(date: event.date, :region => @region)) %>)
</p>
  <% end %>

<div class='show_options'>
    <p><%= link_to('Back', events_lists_path)%></p>
</div>