<div class='aus_state'>
  <% Regions.state.each do |state| %>
    <% state.each do |key, val| %>
      <%= link_to key, events_path(date: @date, :region => val) %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="arrows">

      <%= link_to calendars_path(date: @date - 12.month, :region => @region) do %>
        <i><%=image_tag('http://i.imgur.com/9GN8wMm.png?1')%></i>
      <% end %>

      <%= link_to calendars_path(date: @date - 1.month, :region => @region) do %>
        <i><%= image_tag("http://i.imgur.com/ca2RSq3.png?1")%></i>
      <% end %>

      <span id='current_calendar_date'><%= "#{@date.strftime("%B")} #{@date.year}" %></span>

      <%= link_to calendars_path(date: @date + 1.month, :region => @region) do %>
        <i ><%= image_tag('http://i.imgur.com/obLPimz.png?1')%></i>
      <% end %>

      <%= link_to calendars_path(date: @date + 12.month, :region => @region) do %>
        <i><%= image_tag('http://i.imgur.com/ErCSqCA.png?1')%></i>
      <% end %>
    </div>
  </div>
</div>