<div class='int_country'>
  <%= link_to 'Austria', calendars_international_path(date: @date, :country_code => 'aut') %>
  <%= link_to 'Belgium', calendars_international_path(date: @date, :country_code => 'bel') %>
  <%= link_to 'China', calendars_international_path(date: @date, :country_code => 'chn') %>
  <%= link_to 'Croatia', calendars_international_path(date: @date, :country_code => 'hrv') %>
  <%= link_to 'Czech Republic', calendars_international_path(date: @date, :country_code => 'cze') %>
  <%= link_to 'Denmark', calendars_international_path(date: @date, :country_code => 'dnk') %>
  <%= link_to 'England', calendars_international_path(date: @date, :country_code => 'eng') %>
  <%= link_to 'Estonia', calendars_international_path(date: @date, :country_code => 'est') %>
  <%= link_to 'Finland', calendars_international_path(date: @date, :country_code => 'fin') %>
  <%= link_to 'Hong Kong', calendars_international_path(date: @date, :country_code => 'hkg') %>
  <%= link_to 'Hungary', calendars_international_path(date: @date, :country_code => 'hun') %>
  <%= link_to 'Ireland', calendars_international_path(date: @date, :country_code => 'irl') %>
  <%= link_to 'Italy', calendars_international_path(date: @date, :country_code => 'ita') %>
  <%= link_to 'Japan', calendars_international_path(date: @date, :country_code => 'jpn') %>
  <%= link_to 'Norway', calendars_international_path(date: @date, :country_code => 'nor') %>
  <%= link_to 'Poland', calendars_international_path(date: @date, :country_code => 'pol') %>
  <%= link_to 'Portugal', calendars_international_path(date: @date, :country_code => 'prt') %>
  <%= link_to 'Russia', calendars_international_path(date: @date, :country_code => 'rus') %>
  <%= link_to 'South Africa', calendars_international_path(date: @date, :country_code => 'zaf') %>
  <%= link_to 'South Korea', calendars_international_path(date: @date, :country_code => 'rok') %>
</div>


<div class="row">
  <div class="col-md-12 text-center">
    <div class="arrows">

      <%= link_to calendars_international_path(date: @date - 12.month, country_code: @country_code ) do %>
        <i><%=image_tag('http://i.imgur.com/9GN8wMm.png?1')%></i>
      <% end %>

      <%= link_to calendars_international_path(date: @date - 1.month, country_code: @country_code) do %>
        <i><%= image_tag("http://i.imgur.com/ca2RSq3.png?1")%></i>
      <% end %>

      <span id='current_calendar_date'><%= "#{@date.strftime("%B")} #{@date.year}" %></span>

      <%= link_to calendars_international_path(date: @date + 1.month, country_code: @country_code) do %>
        <i ><%= image_tag('http://i.imgur.com/obLPimz.png?1')%></i>
      <% end %>

      <%= link_to calendars_international_path(date: @date + 12.month, country_code: @country_code) do %>
        <i><%= image_tag('http://i.imgur.com/ErCSqCA.png?1')%></i>
      <% end %>
    <div class='int_list_link'>
      <%= link_to('International Public Holiday List', calendars_international_lists_path(date: @date, country_code: @country_code )) %>
    </div>
    </div>
  </div>
</div>

