<div class='int_country'>
  <% Regions.country.each do |country| %>
    <% country.each do |name, code| %>
      <%= link_to name, calendars_international_path(date: @date, country_code: code) %>
    <% end %>
  <% end %>
</div>


<div class='int_Public_holiday_list'>
  <h1>Public Holiday</h1>
   <ol>
    <% @public_holidays.each do |holiday| %>
      <li><% holi_name = holiday.english_name.to_s.split(" ").first %>
        <%  if holi_name == "New"
              holiday_image ='http://i.imgur.com/Sxa1rTl.png?1'
            elsif holi_name == "Easter"
                holiday_image = 'http://i.imgur.com/zOhmINw.png?1'
            elsif holi_name == "Queen's"
                holiday_image = 'http://i.imgur.com/YRAOZlL.png?1'
            elsif holi_name == "Christmas"
                holiday_image = 'http://i.imgur.com/rvGvYSh.png?1'
            else
                holiday_image = 'http://i.imgur.com/NxNrPHD.png?1'
            end %>
        <%= image_tag(holiday_image) %>
        <%= holiday.english_name %> (<%= link_to(holiday.date, calendars_international_path(date: holiday.date, :country_code => @country_code))%>)<br/>
        <p id='local_name'>Local Name : <%= holiday.local_name.to_s %>
      </li>
    <% end %>
  </ol>
</div>