<!DOCTYPE html>
<html>
  <head>
    <title>SoLuHo Calendar</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav>
      <li><%= link_to('Home','/')%></li>
      <li><%= link_to('Calendar(Australia)', calendars_path(date: @date, region: 'New South Wales'))%></li>
      <li><%= link_to('Calendar(International)', calendars_international_path(date: @date, country_code: "rok"))%></li>
    </nav>
    <div class='home_name'>
      <h3><span class='main'>So</span>lar <span class='main'>Lu</span>nar <span class='main'>Ho</span>liday</h3>
    </div>
    <nav>
       <%== smartnav %>
    </nav>
    <div class ='container'>
      <%= yield %>
    </div>
  </body>
</html>
